@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: #a3aaf1;
}

.container {
  margin-top: 20vh;
  
  .block {
    width: 360px;
    height: auto;
    margin-bottom: 1vh;

    background-color: #fff;
    border-radius: 10px;

    h2 {
      color: #0969df;
      padding: 16px 0 0 16px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

      color: #0969df;
    }

    .description {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      /* identical to box height */

      color: #57606a;

      margin: 10px 0 30px 16px;
    }

    button {
    }

    div {
      display: inline-flex;
      justify-content: space-between;
      padding: 0px 0 10px 10px;

      .language {
        padding-right: 14px;

        .dot {
        }

        span {
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #57606A;

        }
      }
      .starred {
        display: inline-flex;
        justify-content: space-between;
        
        svg {
          width: 16px;
          height: 16px;
        }
        
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 16px;
          color: #57606A;

          padding-left: 4px;
        }
      }
    }
  }
}
